POSTGRES_USER=clinlab
POSTGRES_PASSWORD=replace_with_a_secure_password
POSTGRES_DB=clinical
POSTGRES_HOST_PORT=5433
ADMINER_HOST_PORT=8080
JUPYTER_HOST_PORT=8888
JUPYTER_TOKEN=replace_with_a_secure_jupyter_token
